.windsurf__intro {
  background-image: url('https://storage.googleapis.com/ansilliano/windsurf/windsurf_hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $hv-100 + 40;
}
