@media screen and (min-width: 1920px) {
  .rrss,
  .home__name {
    justify-content: flex-end;
    padding-bottom: $em * 14;


  }

  .home__name {
    p {
      font-size: $font-24 * 8;
      line-height: $em * 1;
    }
  }

  .rrss {
    svg {
    height:   60px;
      width:  60px;
    }
  }

  .line-top,
  .line-bottom {
    left: -1%;
    width: 102%;
  }

// .works-modal{
//   left: 450px;
//   top: 280px;
// }

.mobile-menu-work{
  display: none;
}

.home__menu--mobile  {
  display: none;
}


}


@media screen and (min-width: 2560px)  {

//   .works-modal{
//   left: 720px;
//   top: 280px;
// }

.mobile-menu-work{
  display: none;
}

.home__menu--mobile  {
  display: none;
}




  }