@media screen and (max-width: 520px) {
  .main_container {
    padding: 0 $em * 1.6;
  }

  .h2-title {
    font-size: $font-24 * 2;
    text-align: left;
  }

  .base-container {
    gap: 0;
    grid-template-columns: 100%;
    padding: 0 $em * 1.6;
  }

  .about.base-container {
    padding: 0;
  }

  .doodle-img {
    grid-column: 1/-1;
    grid-row: 2/3;

    img {
      transform: rotate(0);
    }
  }

  .intro__text {
    grid-row: 3/4;
  }

  .intro__text p:nth-of-type(4) {
    text-align: right;
    width: $w-100 - 40;
  }

  .about__experiencie {
    @include center-items;

    margin-top: $em * 6;
  }

  .header {
    @include center-items;

    height: $em * 10;
    width: $w-100;
  }

  .menu {
    display: grid;
    gap: $em * 2.4;
    grid-template-columns: repeat(12, 1fr);
    height: $em * 6.1;
    position: relative;
    width: $w-100;
  }

  .menu__icon {
    @include center-items;

    grid-column: 1/6;
    width: $w-100;

    svg {
      width: $w-100;
    }
  }

  .menu__items {
  @include center-items;

  padding-right: 15px;
  grid-column: -2/-1;
  justify-content: flex-end;

    a {
      color: $color-dark-wine;
      font-family: $font-mansalva;
      font-size: $font-18;
      margin: 0 $em * 0.5;
      position: relative;
      text-decoration: none;
    }
  }

  .icon {
    grid-column: 1/6;
  }

  .desk-menu{
    display: none;
  }


  .mobile-icon {
    display: block
  }

  .grid-works {
    grid-template-columns: 1fr;
  }

  .cards-works {
    padding: 0;
  }  

  .works-modal {
    // display: none;
  }

  .rrss-footer {
    display: none;
  }

  .footer-all {
    padding: $em;
    font-size: $em;
    width: $w-100;
    
    p {
      text-align: center;
      width: $w-100;
    }
  }


  .card-work p{
    font-size: $em * 3;
  }
}
